<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYeuv1XnIL-Xp3Cbc2bTFMweFSxF0NtZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>58903924540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLearning.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b5d93</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b5d93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58903924540:ios:ea3b46e525393808b89839</string>
</dict>
</plist>